# macOS system files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDE files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Dependency directories
node_modules/

# Build output
dist/

# npm
package-lock.json 
saveme.zip
saveme-1.0.0.tgz

package/
task.md

package.crx
package.pem
